.user{
    text-align: center;
    border: 1px solid #CCC;
    padding: 10px;
    margin: 10px;
    border-radius: 16px;
    box-sizing: border-box;
}

.user img{
    background-color: #EEE;
    border: 1px solid #CCC;
    transition: transform .2s;
}

.user :hover{
    transform: scale(1.1);
}